.env
venv
felidae_classifier/dataset/
felidae_classifier/dataset_clean/
felidae_classifier/lazy.nvim
felidae_classifier/target/
felidae_classifier/cache/
felidae_classifier/run/
felidae_classifier/runs/
.idea
felidae_classifier/.idea
python_client/.venv
python_client/.ipynb_checkpoints
runs/
.ipynb_checkpoints/
